#no-tom {
    font-style: italic;
}

.form-group > * {
    display: block;
}

.is-palindrome {
    color: #0000FF;
}

.not-palindrome {
    color: #FF0000;
}

footer > p {
    font-size: 10pt;
}

ol > li, label {
    font-weight: bold;
}

label {
    font-style: oblique;
}

body {
    background-color: #00FF00;
}

h1 {
    color: #FFFF00;
}

button {
    background-color: #000000;
    color: #FFFFFF;
}