p {
    font-size: 14pt;
}

h1 {
    font-size: 30pt;
}

#text-to-test {
    width: 50%;
}

.italic {
    font-style: italic;
}

.success {
    color: #28a745;
}

.failure {
    color: #dc3545;
}

.error {
    color: #8b0000;
    /* ooh, what a moody red */
}

.content {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: 10%;
}